In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/LG/Desktop/회사/data_analysis/doit_pandas-master/doit_pandas-master/data/gapminder.tsv", sep='\t')

In [3]:
s = pd.Series(['banana', 42])
s

0    banana
1        42
dtype: object

In [14]:
# Series 만들기
y = pd.Series(['Wes McKinney', 'Creator of Pandas'])
y

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [15]:
# Series 만들기 -> index 설정하기
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index = ['Person', "Who"])
s

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [16]:
# 기존 series에 index 설정하기
y.index = ['Person', 'Who']
y

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [17]:
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------DataFrame 만들기  03-1--------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#

In [26]:
# DataFrame 만들기
# Step 1: dictionary 만들기
dict_scientists = {
    "Name":       ['Rosaline Franklin', 'William Gosset'],
    "Occupation": ['Chemist', 'Statistician'],
    "Born":       ['1920-07-02', '1876-06-13' ],
    "Died":       ['1958-04-16', '1937-10-16'],
    "Aged":       [37, 61]
                  }

# Step 2 -> DataFrame으로 변환해 주기
scientists = pd.DataFrame(dict_scientists)

# Step 3 - 확인
print(type(scientists))
print(scientists)

<class 'pandas.core.frame.DataFrame'>
                Name    Occupation        Born        Died  Aged
0  Rosaline Franklin       Chemist  1920-07-02  1958-04-16    37
1     William Gosset  Statistician  1876-06-13  1937-10-16    61

In [25]:
# dictionary는 순서가 없음 
# 만약 순서를 원한다면 -> OrderedDict

from collections import OrderedDict

# OrderedDict([(), (), ()])
# OrderedDict( list of tuples ) -> [tuple(key,value), tuple(key,value), tuple(key,value)]
list_of_tuples = [
    ("Name",       ['Rosaline Franklin', 'William Gosset']),
    ("Occupation", ['Chemist', 'Statistician']),
    ("Born",       ['1920-07-02', '1876-06-13' ]),
    ("Died",       ['1958-04-16', '1937-10-16']),
    ("Aged",       [37, 61])
    ]

scientists = pd.DataFrame(OrderedDict(list_of_tuples))
print(type(scientists))
scientists

<class 'pandas.core.frame.DataFrame'>

                Name    Occupation        Born        Died  Aged
0  Rosaline Franklin       Chemist  1920-07-02  1958-04-16    37
1     William Gosset  Statistician  1876-06-13  1937-10-16    61

In [27]:
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------Series 다루기  03-2 ----------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#

In [33]:
# 데이터프레임에서 시리즈 선택하기
# Step 1 먼저 변수 Scientists 데이터프레임 준비
dict_scientists = {
    "Occupation": ['Chemist', 'Statistician'],
    "Born":       ['1920-07-02', '1876-06-13' ],
    "Died":       ['1958-04-16', '1937-10-16'],
    "Age":       [37, 61],
    "Fun fact": ['Even if', "I write this", ', this does not get into', ' the dataframe']
                  }
scientists = pd.DataFrame(dict_scientists,
                         index  = ['Rosaline Franklin', 'William Gosset'],
                         columns = ['Occupation', 'Born', 'Died', 'Age'])
scientists

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-02  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [35]:
first_row = scientists.loc['Rosaline Franklin']
print(first_row)

Occupation       Chemist
Born          1920-07-02
Died          1958-04-16
Age                   37
Name: Rosaline Franklin, dtype: object

In [36]:
# 시리즈 속성과 메서드 사용하기 - index, values, keys
# 1.index 속성 사용하기
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [37]:
# 2. Values 속성 사용하기
print(first_row.values)

['Chemist' '1920-07-02' '1958-04-16' 37]

In [38]:
# 3. Keys 메서드 사용
# 이건 index랑 같음
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [39]:
# index 응용
print(first_row.index[0])

Occupation

In [40]:
print(first_row.keys()[0])

Occupation

In [42]:
# 시리즈의 기초 통계 메서드 사용하기
# Mean, min, max, std method 사용하기
ages = scientists['Age']
ages

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [43]:
# mean value
print("Mean age: ", ages.mean())
print()

# min value
print("Min age: ", ages.min())
print()

# max value
print("Max age: ", ages.max())
print()

# std value
print("Std age: ", ages.std())

Mean age:  49.0

Min age:  37

Max age:  61

Std age:  16.97056274847714

In [44]:
# 그 외 많은 Series method 가 있음
# append:          2개의 Series 연결
# describe:        요약 통계랑 계산'
# drop_duplicates: 중복값이 없는 시리즈 변환
# equals:          시리즈에 해당 값을 가진 요소가 있는지 확인
# get_values:      시리즈 값 구하기(values 속성과 동일)
# isin:            시리즈에 포함된 값이 있는지 확인
# min:             최소값 반환
# max:             최대값 반환
# mean:            산술 평균 반환
# median:          중간값 반환
# replace:         틍정 값을 가진 시리즈 값을 교체
# sample:          시리즈에서 임의값을 반환
# sort_values:     값을 정렬
# to_frame:        시리즈를 Dataframe 으로 변환

In [45]:
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------Series 다루기 응용  03-3  ----------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#

In [46]:
scientists = pd.read_csv('../../data_analysis/doit_pandas-master/doit_pandas-master/data/scientists.csv')
scientists.head()

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist

In [47]:
# 2장에서 index 로 데이터를 추출 했는데 
# 보통 원하는 데이터의 index를 잘 모르는 경우가 많음
# 이런 경우 Boolean 추출 방법을 해야함

In [49]:
ages = scientists['Age']
print("가장 고령의 나이: ", ages.max())

print("평균 나이: ", ages.mean())

가장 고령의 나이:  90
평균 나이:  59.125

In [51]:
# 평균 나이 보다 나이 많은 사람들만 추출하기
people = ages[ages > ages.mean()]
people

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [52]:
# boolean 형태 인것을 볼 수 있음
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [53]:
# ages > ages.mean()의 결과값이 개수가 여러개 라는게 이상하지 않는가?
# 이렇게 Series or DataFrame에 있는 모든 데이터에 대해 한 번에 연산하는 것을 브로드캐스팅(Broadcasting) 이라고 함
# 그리고 시리즈처럼 여러 개의 값을 가진 데이터를 Vector라 하고 단순 크기를 나타내느 데이터를 Scalar 라고 합니다
# 앞으로 Vector, Scalar 용어 자주 나타남!

In [55]:
# Vector & Scalar로 Broadcasting 하기
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [56]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [57]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [58]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [59]:
 print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [60]:
# 길이가 서로 다른 벡터 연산하기
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [61]:
# 같은 인덱스의 값만 계산
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [63]:
# sort index
rev_ages = ages.sort_index(ascending = False)
rev_ages

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [64]:
# 신기한건 
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [65]:
# 위에 값과 같은 값을 return 하는데 
# 이건 같은 index 값을 더하기 때문임
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [66]:
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------DataFrame 다루기  03-4  ------------------------------------------------#

In [67]:
# 불린 추출하기
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [68]:
print(scientists * 2) # String은 두번 복사 Integer 는 * 2

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [69]:
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#----------------------------------시리즈와 데이터 프레임의 데이터 처리하기  03-5 ------------------------------------#

In [70]:
print(scientists['Born'].dtype)

object

In [71]:
print(scientists['Died'].dtype)

object

In [73]:
# 날짜를 날짜형 데이터로 바꾸기
born_datetime = pd.to_datetime(scientists['Born'], format = '%Y-%m-%d')
died_datetime = pd.to_datetime(scientists['Died'], format = '%Y-%m-%d')
print(born_datetime)
print(died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [75]:
# dataframe 안에 넣기
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [77]:
scientists['age_days_dt'] = scientists['died_dt'] -  scientists['born_dt']
scientists['age_days_dt']

0   13779 days
1   22404 days
2   32964 days
3   24345 days
4   20777 days
5   16529 days
6   15324 days
7   28422 days
Name: age_days_dt, dtype: timedelta64[ns]

In [78]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [79]:
# 데이터 석기
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

C:\anaconda\lib\random.py:307: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [81]:
# 열 통째로 삭제하기 
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [86]:
# axis = 1 는 컬럽에서 찾으라는 명령어
# axis = 0 는 row 에서 찾으라는 명령어
scientists_dropped = scientists.drop(['Age'], axis = 1) 
scientists_dropped

,Name,Born,Died,Occupation,born_dt,died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,Biologist,1907-05-27,1964-04-14,20777 days
5,John Snow,1813-03-15,1858-06-16,Physician,1813-03-15,1858-06-16,16529 days
6,Alan Turing,1912-06-23,1954-06-07,Computer Scientist,1912-06-23,1954-06-07,15324 days
7,Johann Gauss,1777-04-30,1855-02-23,Mathematician,1777-04-30,1855-02-23,28422 days

In [88]:
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------- 데이터 저장하고 불러오기 03-6 ----------------------------------------------#

In [89]:
names = scientist['Name']
names.to_pickle("scientists_name.pickle")

In [90]:
# pickle 데이터는 반드시 read_pickle method로 읽어야 함
scientists_name = pd.read_pickle("scientists_name.pickle")
scientists_name

0    Rosaline Franklin
1       William Gosset
Name: Name, dtype: object

In [91]:
# csv file 로 저장
names.to_csv("scientist_name_csv.csv")
# tsv file 로 저장
scientists.to_csv("scientists_df.tsv", sep = '\t')

In [92]:
# 엑셀로 저장하기
# Series는 엑셀 구조와 맞지 않기 때문에 엑셀 파일로 저장 할 수 없습니다.
# 엑셀 파일로 저장할 수 있는 DataFrame 으로 변환이 필요합니다.

# 단 xls 파일로 저장하려면 xlwt 라이브러리가 필요하고
#    xlsx 파일로 저장하려면 openpyxl 라이브러리가 필요합니다.

# anaconda prompt가서 
# pip install xlwt
# pip install openpyxl

In [94]:
# 설치 이후
names_df = names.to_frame()

import xlwt
names_df.to_excel("excel.xls")

import openpyxl
names_df.to_excel("excel2.xlsx")

<ipython-input-94-223fe122da56>:5: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  names_df.to_excel("excel.xls")