In [2]:
# pandas library 불러오기
# pandas는 자주 사용 할거기 때문에
# 사용에 용이하기 위해 pd 로 줄여쓰기

import pandas as pd

In [4]:
# tsv file 불러오기
df = pd.read_csv("C:/Users/LG/Desktop/회사/data_analysis/doit_pandas-master/doit_pandas-master/data/gapminder.tsv", sep='\t')

In [6]:
# 첫 5개 불러오기
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [7]:
# 마지막 5개 불러오기
print(df.tail())

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [8]:
# type 불러오기
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [9]:
# 행과 열 (row & column) 정보 불러오기
print(df.shape)

(1704, 6)

In [10]:
# 열 (Columns) 정보 불러오기
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [11]:
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#-----------------------------------------------------데이터 추출하기-------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#

In [14]:
# 열 단위로 데이터 추출하기
country_df = df['country']
# type 확인 -> Series
print(type(country_df)) 

# head(n=2) 출력 -> head(n=#) # 안에 integer를 넣음으로써 첫 몇개를 볼건지 설정 할 수 있습니다.
print(country_df.head(n=2))

<class 'pandas.core.series.Series'>
0    Afghanistan
1    Afghanistan
Name: country, dtype: object

In [18]:
# List를 열 이름을 전달하면 여러 개의 열을 한번에 추출 가능
L = ['country', 'continent', 'year']

# df[['country', 'continent', 'year'] 와 동일
subset = df[L]
# type 확인 -> 여러개의 데이터 -> Dataframe
print(type(subset))
# print(subset.head())
print(subset.head())

<class 'pandas.core.frame.DataFrame'>
       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [19]:
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#-----------------------------------------------------데이터 추출하기-------------------------------------------------#
#------------------------------------------행 단위 데이터 추출하기 loc vs iloc ---------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#

In [ ]:
# loc  - index를 기준으로 행 데이터 추출
# iloc - 행 번호 기준으로 행 데이터 추출

In [21]:
# 첫번째 행 출력 -> series 로 출력 되는 걸 볼 수 있음
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [22]:
# iloc 사용해서 행 출력 -> 같은 값이 출력 되는걸 볼 수 있음
print(df.iloc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [23]:
# 마지막 행 (row) 출력하고 싶을 때
# df.loc[-1] 사용시, 인데스가 없는 값을 사용시 오류가 발생 함
print(df.loc[-1])

KeyError: -1

In [29]:
# df.loc을 사용한 마지막 데이터 출력 방법 
# Step 1 : 전체 row 갯수 불러오기
shape = df.shape         # (1704, 6)
# rows -> shape[0]       columns -> shape[1]
no_rows = shape[0]       # df.shape[0]

# Step 2 : Last index 구하기
# index는 0 부터 시작하기 때문에 no_rows 에서 1 빼주기
last_index = no_rows - 1 # 1703
print(df.loc[last_index])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [32]:
# 굉장히 복잡함!!! 
# Better Way is to use tail method

print(df.tail(n=1)

# 다른 점은 Dataframe 으로 return 하는 것을 볼 수 있음

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [33]:
#---------------------------------------------------------------------------------------------------------------------#
#-------------------------------------------iloc 사용해서 열 추출하기-------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#

In [34]:
# 기본 개념은 같음  -> 하지만 iloc 은 행의 순서로 행 정보를 불러옴 
print(df.iloc[-1])   # [-1] 가능 -> 순서이기 때문에 마지막에서 첫번째를 뜻하는 걸 알 수 있음

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [36]:
subset = df.head()
subset

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [37]:
# index 이름 바꾸기
subset.index = ['하나', '둘', '삼', '사', '오']

In [38]:
subset

        country continent  year  lifeExp       pop   gdpPercap
하나  Afghanistan      Asia  1952   28.801   8425333  779.445314
둘   Afghanistan      Asia  1957   30.332   9240934  820.853030
삼   Afghanistan      Asia  1962   31.997  10267083  853.100710
사   Afghanistan      Asia  1967   34.020  11537966  836.197138
오   Afghanistan      Asia  1972   36.088  13079460  739.981106

In [39]:
# 이런식으로 index 를 바꿨을때 loc 과 iloc의 차이가 극명해짐
print(subset.loc[0])  # 이제는 index 이름이 바뀌었기 때문에 에러가 뜨는 것을 볼 수 있음

KeyError: 0

In [41]:
# 이제는 바뀐 index 이름으로 불러줘야 함
print(subset.loc['하나'])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 하나, dtype: object

In [42]:
# 하지만 iloc 은 index 순서로 데이터 추출 하기 떄문에 
# index 이름이 바뀌었어도 사용 방법 동일
print(subset.iloc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 하나, dtype: object

In [43]:
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#-----------------------------------데이터 추출하기 - 슬라이싱 구문, Range 메서드-------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#

In [44]:
# 데이터 행 열 자유롭게 추출하기
# df.loc[[행], [열]]         # df.iloc[[행], [열]]
# df는 행 또는 열 이름으로!  # df.iloc 은 순서로!!

In [45]:
# column 정보에 integer (정수) 값을 적으면 에러가 남!
subset = df.loc[:,['year', 'pop']]
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [46]:
# 에러 난다 하면 함 해봐야지!!
df.loc[:, [1:3]]

SyntaxError: invalid syntax (<ipython-input-46-832a90b7839d>, line 2)

In [49]:
# 마찬가지로 iloc 은 integer value 를 넣어야지
# 반대로 이름을 적으면 에러가 남
subset = df.iloc[:,[2,4,-1]]
subset

      year       pop   gdpPercap
0     1952   8425333  779.445314
1     1957   9240934  820.853030
2     1962  10267083  853.100710
3     1967  11537966  836.197138
4     1972  13079460  739.981106
...    ...       ...         ...
1699  1987   9216418  706.157306
1700  1992  10704340  693.420786
1701  1997  11404948  792.449960
1702  2002  11926563  672.038623
1703  2007  12311143  469.709298

[1704 rows x 3 columns]

In [50]:
# 열 이름 해서 에러 보자! 
df.iloc[:,['year', 'pop']]

IndexError: .iloc requires numeric indexers, got ['year' 'pop']

In [51]:
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#--------------------------------------------- Range 메서드-----------------------------------------------------------#

In [54]:
small_range = list(range(5))
small_range

[0, 1, 2, 3, 4]

In [55]:
print(type(small_range))

<class 'list'>

In [59]:
subset = df.iloc[:,small_range]
subset

          country continent  year  lifeExp       pop
0     Afghanistan      Asia  1952   28.801   8425333
1     Afghanistan      Asia  1957   30.332   9240934
2     Afghanistan      Asia  1962   31.997  10267083
3     Afghanistan      Asia  1967   34.020  11537966
4     Afghanistan      Asia  1972   36.088  13079460
...           ...       ...   ...      ...       ...
1699     Zimbabwe    Africa  1987   62.351   9216418
1700     Zimbabwe    Africa  1992   60.377  10704340
1701     Zimbabwe    Africa  1997   46.809  11404948
1702     Zimbabwe    Africa  2002   39.989  11926563
1703     Zimbabwe    Africa  2007   43.487  12311143

[1704 rows x 5 columns]

In [62]:
small_range = ['pop', 'year']
subset = df.loc[:, small_range]
subset

           pop  year
0      8425333  1952
1      9240934  1957
2     10267083  1962
3     11537966  1967
4     13079460  1972
...        ...   ...
1699   9216418  1987
1700  10704340  1992
1701  11404948  1997
1702  11926563  2002
1703  12311143  2007

[1704 rows x 2 columns]

In [63]:
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------기초적인 통계 계산하기 02-3---------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------------#

In [66]:
# lifeExp column 을 연도별로 그룹화 하여 평균 계산하기
yearly_mean = df.groupby('year')['lifeExp'].mean()
print(yearly_mean)
print("type: ", type(yearly_mean))   # Series

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64
type:  <class 'pandas.core.series.Series'>

In [67]:
grouped = df.groupby('year')
print(grouped)     # grouped 된것의 저장된 위치

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001BDBE32CCD0>

In [70]:
grouped_lifeExp = grouped['lifeExp']
print(type(grouped_lifeExp))
# 연도간 mean life Expectency 출력
print(grouped_lifeExp.mean())

<class 'pandas.core.groupby.generic.SeriesGroupBy'>
year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [72]:
# 한번의 여러개의 데이터도 그룹 할 수 있음
multi_group_var = df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean()
multi_group_var

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [91]:
# 그룹화한 데이터 개수 세기
# nunique() 를 사용해서 구할 수 있음
print(df.groupby('continent')['country'].nunique())
L = [1,1,1,1,2,2,3,3,3]
L = pd.Series(L)
print("--"*20)

# Series.unique() 
# set 이라고 생각하면 될듯
# uniuqe 한 value 들만 return 해줌
# return type -> list
# Note* Dataframe 에서는 안됨
print("L.unique()")
print(L.unique())
print("type: ", type(L.unique()))
print()

# Series.unique(), DataFrame.unique()
# 유니크한 item 들이 몇개인지 return 해줌
# return type -> integer
print("L.nunique()")
print(L.nunique())
print("type: ", type(L.nunique()))
print()

# Series.value_counts(), DataFrame.value_counts()
# unique 아이템당 몇개가 있는지 return 해줌
# return -> Series

print("L.value_counts()")
print(L.value_counts(ascending = True))  # ascending True 하면 counts 따라 정열
print("type: ", type(L.value_counts()))

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64
----------------------------------------
L.unique()
[1 2 3]
type:  <class 'numpy.ndarray'>

L.nunique()
3
type:  <class 'int'>

L.value_counts()
2    2
3    3
1    4
dtype: int64
type:  <class 'pandas.core.series.Series'>